nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 30px 30px;
  font-family: 'Lato';
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid palevioletred;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
}
